.projects-info{
	margin: 1rem 0rem;
}
.project_detail{
	padding: 3rem 4rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	

}
.project_link{
	padding: 3rem 2rem;
	justify-content: space-between;
}
.project_link .forward_link{
	bottom: 0;
}
.project_link h1{
	width: 80%;
}
.project_side_heading{
	font-size: 20px;
}

.project_1 .project_heading::before{
	content: "1";
}
.project_2 .project_heading::before{
	content: "2";
}
.project_heading::before{
	height: 3rem;
	width: 3rem;
	border-radius: 50%;
	border: 0.5rem solid #82c232;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	padding: 0.4rem;
	position: absolute;
	opacity: 0.1;
	margin-top: -1rem;
	margin-left: -3rem;
	z-index: -1;
}
.skillset_list{
	padding: 0;
}
.skill_used{
	font-size: 0.7em;
	flex-direction: column;
	list-style: none;
	width: fit-content;
	margin: 0.8rem 0.6rem;
	margin-left: 0;
	background: #86c232;
	padding: 0.5rem 1.5rem;
	align-self: baseline;
	border-radius: 1rem;
}





#project-mob{
	display: block;
}
#project-mob .forward_link{
	font-size: 1.2em;
}
#project-mob .project_detail{
	display: block;
	padding: 3rem 3.5rem;
	padding-bottom: 0.5rem;
	max-width: 100% !important;
}
#project-mob .project_link{
	max-width: 100% !important;
}
