.skillslist{
	justify-content: flex-start;
	padding: 0 4rem;
	color: #fff;
}

.skillslist li{
	flex-direction: column;
	list-style: none;
	width: fit-content;
	margin: 0.5rem auto;
	background: #86c232;
	padding: 0.5rem 1.5rem;
	margin: 1rem 0.5rem;
	align-self: baseline;
	border-radius: 1rem;

}

.skillslist li p{
	padding-top: 0rem;
	
	margin: 0;
}


#skills-mob .skillslist{
	padding: 0 1.7rem;
}